@import url(c:\jaweriya\floor-tiles website\slick\slick-theme.css);
html, body {
  font-size: 16px;
  font-family: "Fira Mono", monospace;
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

.navigation {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 9;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@font-face {
  font-family: "Benton-Mod-Disp-B";
  src: url(fonts/BentonModDisp-bold.otf);
}

.menu {
  height: 4rem;
  width: 40%;
  font-family: "Benton-Mod-Disp-B";
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin-left: 35px;
}

.menu ol {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.menu > ol {
  max-width: 1000px;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu > ol > .menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.75rem 0;
}

.menu-item {
  position: relative;
  line-height: 2.5rem;
  text-align: center;
}

.menu-item a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: #14213d;
}

.menu-item a:hover {
  color: #fca311;
}

.sub-menu .menu-item {
  background-color: white;
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: enter 0.2s ease forwards;
          animation: enter 0.2s ease forwards;
  width: 15em;
  text-align: left;
  padding: 0 15px;
}

.sub-menu .menu-item a {
  color: #b3b3b3;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
  right: 0;
}

.menu-item:hover > .sub-menu {
  display: block;
}

.sub-menu a:hover {
  color: #14213d;
}

@-webkit-keyframes enter {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0.98) translateY(10px);
            transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes enter {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0.98) translateY(10px);
            transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-a {
  position: relative;
}

.main-a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fca311;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-a:hover:before {
  visibility: visible;
  width: 100%;
}

.arrow {
  height: 8px;
  width: 8px;
}

@font-face {
  font-family: "Basic";
  src: url(fonts/Basic-Regular.ttf);
}

@font-face {
  font-family: 'Butler_ExtraBold';
  src: url(fonts/Butler_ExtraBold.otf);
}

.logo {
  width: 10%;
  position: relative;
}

.logo .logoimg {
  font-family: 'Butler_ExtraBold';
  position: absolute;
  top: -35px;
  right: 3px;
  font-size: 3.5em;
  color: #14213d;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.contact-info {
  width: 35%;
  font-family: "Basic";
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.contact-info-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
}

.arrow1 {
  height: 20px;
}

a {
  text-decoration: none;
  color: #14213d;
}

a:hover {
  color: #b3b3b3;
}

.btn {
  display: inline-block;
  background-color: #fca311;
  padding: 18px 35px;
  color: white;
  border: 1px solid #fca311;
}

.btn:hover {
  background-color: white;
  color: #fca311;
}

@font-face {
  font-family: 'Benton-Mod-Disp-Cond-BoldIt';
  src: url(fonts/BentonModDispCond-BoldIt.otf);
}

.headerr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding: 50px 0;
}

.s-infoo {
  height: 65%;
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 16;
  position: fixed;
  background-color: transparent;
}

.s-info {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-info-img {
  height: 15px;
}

.img-container {
  width: 93%;
  height: 90%;
  left: 5%;
}

.img-container-1, .img-container-2 {
  height: 32rem;
}

.img-container-1 {
  background-image: url(images/floor5.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.img-container-2 {
  background-image: url(images/floor4.jpg);
  background-size: cover;
  background-position: bottom;
}

.img-container-1-text {
  height: 70%;
  position: absolute;
  bottom: 10%;
  left: 12%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
}

.img-container-2-text {
  height: 70%;
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.img-container-heading {
  font-size: 4em;
  font-family: "Benton-Mod-Disp-Cond-BoldIt";
  letter-spacing: 2px;
  width: 70%;
  text-align: center;
  color: white;
}

.img-container-heading-h {
  width: 10%;
}

.img-container-btn {
  height: 5rem;
  width: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-container-btn1 {
  border: 1px solid #fca311;
  height: 3rem;
  width: 16rem;
  text-align: center;
  padding: 15px;
  color: #fca311;
  background-color: white;
}

.img-container-btn1:hover {
  background-color: #fca311;
  color: white;
}

.btnn2 {
  height: 3rem;
  width: 10rem;
}

.slick-dots li button:before {
  font-size: 12px !important;
  color: #ddb70f !important;
}

.slick-dots {
  bottom: -85px !important;
}

.section22 {
  width: 100%;
  height: 100%;
  margin-top: 8rem;
}

.section2 {
  width: 93%;
  height: 97%;
  margin-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2-text, .section2-img {
  height: 100%;
  width: 100%;
}

.section2-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem;
}

.section2-text .section2-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 5rem;
  width: 58%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2-text .section2-h1 {
  font-size: 3em;
  font-family: "Benton-Mod-Disp-Cond-Bold";
  width: 68%;
}

.section2-text .section2-p {
  width: 70%;
  font-family: "Basic";
}

.section2-btn1 {
  width: 8rem;
}

.section2-btn2 {
  width: 11rem;
}

.section2-img {
  position: relative;
  overflow: hidden;
}

.section2-img .section2-img1 {
  background-color: #fca311;
  height: 30rem;
  width: 28rem;
  position: absolute;
  right: 0;
  top: 0;
}

.section2-img .section2-img2 {
  height: 30rem;
  width: 28rem;
  position: absolute;
  top: 4rem;
  background-image: url(images/sec2.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
          transform: matrix(0.5, 0, 0, 0.5, 0, 0);
}

.section2-img3-div {
  height: 30rem;
  width: 28rem;
  position: relative;
  background-color: blue;
  top: 4rem;
  overflow: hidden;
}

.section2-img3 {
  height: 30rem;
  width: 28rem;
  position: absolute;
  background-image: url(images/sec2.jpg);
  background-position: center;
  background-size: cover;
}

.addclasss {
  -webkit-animation: zoomout 2s;
          animation: zoomout 2s;
}

.addclasss2 {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.div2 {
  text-align: center;
  margin: 8rem 0;
  padding: 1rem 0;
  position: relative;
}

.div2 .line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.295);
  position: absolute;
  width: 17rem;
  top: 2rem;
}

.text-div2 {
  font-family: "Benton-Mod-Disp-Cond-Bold";
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .6rem;
}

@-webkit-keyframes zoomout {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomout {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animation1 {
  0% {
    right: -3rem;
  }
  100% {
    right: 0;
  }
}

@keyframes animation1 {
  0% {
    right: -3rem;
  }
  100% {
    right: 0;
  }
}

.footerr {
  height: 40rem;
  background-color: #080a08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerr-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30rem;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}

.footerr-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 85%;
  width: 45%;
  padding: 1.5rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerr-sec-img {
  width: 15rem;
  text-align: center;
}

.footer-sec-imgg {
  width: 10rem;
}

.footerr-sec-h2 {
  text-align: center;
}

.footerr-sec-h2 h2 {
  color: #fca311;
  font-family: "Benton-Mod-Disp-Cond-Bold";
  font-size: 2rem;
}

.footerr-sec-p {
  text-align: center;
  height: 8rem;
  margin-top: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footerr-sec-p p {
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  font-family: "Basic";
  letter-spacing: .8px;
}

.footerr-btn {
  margin-top: -5rem;
}

.footerr-btnn {
  padding: 15px 35px;
}

.sec3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10rem;
}

.sec3-img {
  height: 45rem;
  width: 28rem;
  overflow: hidden;
}

.sec3-img .sec3-imgg {
  height: 45rem;
  width: 28rem;
  z-index: 500;
}

.sec3-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30rem;
  height: 25rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sec3-text .sec3-h1 {
  font-size: 3em;
  font-family: "Benton-Mod-Disp-Cond-Bold";
  font-family: "Basic";
}

.divv {
  background-color: grey;
  height: 70%;
  width: 100%;
  position: relative;
}

.divv .divv-div {
  width: 100%;
  background-color: #0b1b0a;
  height: 100%;
}

.divv .divv-imgg {
  height: 22rem;
  width: 30rem;
  position: absolute;
  bottom: 0;
  top: 7rem;
  right: 5rem;
}
/*# sourceMappingURL=floorws.css.map */